<h1>Eat Da Burger!</h1>

<h2>Burgers that have been created</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        <form action='/{{this.id}}' method='post'>
            {{burger_name}} <button type='submit'>Devour this
                burger!</button>
        </form>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that have been devoured</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action='/' method='post'>
    Burger name: <input type='text' name='burger_name'><br>
    <input type='submit' value='Submit'>
</form>